{% extends "menu.html" %}

{% block head %}

    {{ super() }}
    <link href='http://fonts.googleapis.com/css?family=Anaheim&subset=latin-ext' rel='stylesheet' type='text/css'>

{% endblock %}
{% block content %}

    {% for team in teams %}

    <div class="table_parent">
    <table class="team_table">
        <tr>
            <th data-id={{ team.ID }} class="team_id">TEAM ID: {{ team.ID }}</th>
            <th data-name='{{ team.NAME }}' class="team_name">NAME: {{ team.NAME }}</th>
            <th>Action</th>
        </tr>

        {% set student_number = 1 %}
        {% for student in students %}
            {% if student.idx in team.students_id %}

            <tr>
                <td>{{ student_number }}</td>
                <td>{{ student.name }} {{ student.last_name }}</td>
                <td><a href="remove_from_team/{{ student.idx }}" class="remove_button">REMOVE</a></td>

                {% set student_number = student_number + 1 %}
            </tr>
            {% endif %}
        {% endfor %}

    </table>
        <a href="#add_student_to_team" class="add_to_team"><div class="fixed_table_button orange_shadow"> + Student </div></a>
        <a href="/remove_team/{{ team.ID }}"><div class="fixed_table_button remove_team orange_shadow"> - Remove team </div></a>
        <a href="#edit_team" class="edit_team">
            <div class="fixed_table_button orange_shadow edit_team"> Edit team name </div>
        </a>

    </div>

    {% endfor %}


    <a href="#add_team"><div class="fixed_bottom_button"> + TEAM </div></a>


    <div class="overlay" id="add_team">

        <form action="add_team" class="edit_user" method="POST">
            <a class="close" href="#">&times;</a>
            <div class="form-block">
                <label for="new_team_name">Team name:</label>
                <input type="text" name="new_team_name" id="new_team_name" required>
            </div>
            <input type="submit" value="Submit" id="add_submit" class="add_submit button orange">
        </form>

    </div>


    <div class="overlay" id="add_student_to_team">
        <form name="add_student" class="edit_user">
            <a class="close" href="#">&times;</a>
            <div class="student_to_team_table">
            <table>
                <tr>
                    <th>Email</th>
                </tr>

                {% for student in students %}
                    <tr>
                        <td><a href="/add_to_team/{{ student.idx }}/" class="to_team">{{ student.full_name() }}</a></td>
                    </tr>
                {% endfor %}

            </table>
            </div>
            <br>
            <br>
        </form>
    </div>

    <div id="edit_team" class="overlay">
            <form name="add_student" class="edit_user" method="post" action="{{ url_for('teamcontroller.team_name_edit') }}">
                <a class="close" href="#">&times;</a>

                <div class="hidden">
                    <label for="team_edit"></label>
                    <input type="number" name="id" id="team_edit_id" value="">
                </div>

                <div class="form-block">
                    <label for="edit_name">Team name:</label>
                    <input type="text" name="team_name" id="edit_name" value="" required>
                </div>
                <input type="submit" value="Submit" id="submit" class="button orange edit_team_submit">
            </form>
        </div>
    <script src="{{url_for('static', filename = 'js/main.js')}}"></script>
{% endblock %}
