<!DOCTYPE html>
<title>Submission</title>
{% extends "menu.html" %}


{% block content %}
    <form>
        <table>
            <tr>
                <th>ID</th>
                <th>Student</th>
                <th>Date of submission</th>
                <th>Assignment title</th>
                <th>Grade</th>
                <th>Mentor</th>

            </tr>
            {% set i = 1 %}
            {% for item in sub_list %}

{#                item[0] Submission object#}
{#                item[1] Student object#}
{#                item[2] assignment title#}
{#                item[3] mentor name#}

            <tr>
                <td class="sub_idx" data-id ={{ item[0].ID }} >{{ item[0].ID }}</td>
                <td>{{ item[1].full_name() }}</td>
                <td>{{ item[0].DATE }}</td>
                <td class='left' data-link = {{ item[0].LINK }} ><a href="{{ item[0].LINK }}">{{ item[2]}}</a></td>
                <td>
                    <div class="grade_range">
                    {% if item[0].GRADE == -1 %}
                    <output data-link = {{ item[0].LINK }} name="gradeOutput1" class="grade_output">Not graded</output>
                    {% else %}
                    <output data-link = {{ item[0].LINK }} name="gradeOutput1" class="grade_output">{{ item[0].GRADE }}</output>
                    {% endif %}
                        <label for="gradeInput1"></label>
                        <input data-link = {{ item[0].LINK }} type="range" class="grade_range grade_input" name="gradeInput1"
                           value="{{ item[0].GRADE }}" min="-1" max="100">
                    </div>
                </td>
                <td class="mentor_name">{{ item[3] }}</td>
            </tr>
            {% set i = 1 + i %}
            {% endfor %}

        </table>
    </form>
    <script src="{{url_for('static', filename = 'js/main.js')}}"></script>
{% endblock %}

