{% extends "menu.html" %}
{% block content %}
    <h1>Statistic for mentor</h1>
    <figure class="table" id="table">
        <br /><br />
        <h2>Checkpoints</h2><br /><br />
    <table>
        <tr>

            <th>CHECKPOINT</th>
            <th>MENTOR</th>
            <th>START DATE</th>
        </tr>
        {% if checkpoints != None %}
            {% for checkpoint in checkpoints %}
            <tr>
                <td>{{ checkpoint.TITLE }}</td>
                <td>{{ user.name }} {{ user.surname }} </td>
                <td>{{ checkpoint.START_DATE }}</td>
            </tr>
            {% endfor %}
        {% endif %}
    </table>
    </figure>
    <br /><br />
    <figure class="table" id="table">
    <h2>Grades</h2><br /><br />
    <table>
        <tr>
            <th>STATISTIC</th>
            <th>VALUE</th>
        </tr>
        <tr>
            <td>Checkpoints</td>
            <td>{% if checkpoints != None %}{{ checkpoints|length }}{% else %}0{% endif %}</td>
        </tr>

    {% if cards != None %}
        {% for card in cards %}
         <tr>
             <td>{{ card['GRADE'] }} cards</td>
            <td>{{ card[1] }}</td>
        </tr>
        {% endfor %}
        </tr>
    {% endif %}

    </table>
    </figure>
{% endblock %}
