<!DOCTYPE html>
{% extends "menu.html" %}
<title>Submission</title>


{% block content %}


    <section class="info">
        <hr>
        <p>Click on assignment title to see description or to submit. </p>
        <div style="clear: both;"></div>
        <hr>
    </section>

    <table>
        <tr>
            <th>ID</th>
            <th>TITLE</th>
            <th>START DATE</th>
            <th>END DATE</th>
            <th>SUBMITTED</th>
            <th>GROUP</th>
            <th>GRADE</th>
        </tr>
        <tr>
            <td>1</td>
            <td class='left'><a href="/assignments/1">Assignment 1 - dupa łłłł</a></td>
            <td>2017-01-10</td>
            <td>2017-03-10</td>
            <td>N</td>
            <td>N</td>
            <td>-</td>
        </tr>
        <tr>
            <td>2</td>
            <td class='left'><a href="submissions">Assignment 2 - lol</a></td>
            <td>2017-01-10</td>
            <td>2017-03-10</td>
            <td>Y</td>
            <td>N</td>
            <td>-</td>
        </tr>
        <tr>
            <td >3</td>
            <td class='left'><a href="/submissions">Assignment 3 - qwerty</a></td>
            <td>2017-01-10</td>
            <td>2017-03-10</td>
            <td>N</td>
            <td>Y</td>
            <td>-</td>
        </tr>
        
    </table>
   

{% endblock %}