{% extends "menu.html" %}
{% block content %}

<div class="checkpoint">

    <h1>Checkpoints</h1>
    <h3>Select checkpoint title</h3>
    
    <figure class="table" id="table1">
    <table>
        <tr>
            <th  class='left'>Title</th>
            <th  class='left'>Created by</th>
            <th  class='left'>Start date</th>
            <th class="left"></th>

        </tr>
        {% for checkpoint in checkpoints %}
        <tr>

            <td class="left">{{ checkpoint['Title'] }}</td>
            <td class="left">{{ checkpoint['Name'] }} {{ checkpoint['Surname'] }}</td>
            <td class="left">{{ checkpoint['Start_date'] }}</td>
            <td> <a href="/checkpoint-make/{{ checkpoint['ID'] }}"     class="button orange">Checkpoint</a> </td>
        </tr>
        {% endfor %}
    </table>
    </figure>
</div>

{% endblock %}