{% extends "menu.html" %}
{% block content %}
<div class="content">
    
    <h1>Select checkpoint title</h1>
    
    <figure class="table" id="table1">
    <table>
        <tr>
            <th style="width: 10px;"></th>
            <th  class='left'>Title</th>            
        </tr>
        <tr>
            <td style="width: 10px;"><input type="radio" name="title" /></td>
            <td class="left">OOP</td>            
        </tr>
         <tr>
            <td style="width: 10px;"><input type="radio" name="title" /></td>
            <td class="left" >SQL</td>            
        </tr>
        
       
        
        
    </table>
    </figure>
    
    <br /><br />
    
    <h1>Select second mentor</h1>
    
   <select>
       <option></option>
       <option>Rafał Stępień</option>
       <option>Mateusz Ostafil</option>
    
    </select>
    <br /><br />
    
    <h1>Select student</h1>
    
    <figure class="table" id="table2">
    <table>
        <tr>
            <th></th>
            <th  class='left'>SURNAME</th>
            <th class='left'>NAME</th>
            
            
            
        </tr>
        <tr>
            <td style="width: 10px;"><input type="radio" name="student " id="student1"/></td>
            <td class='left'><label for="student1">Osak</label></td>
            <td class='left'>Michał</td>
            
            
        </tr>
        <tr>
            <td style="width: 10px;"><input type="radio" name="student "id="student2" /></td>
            <td class='left'><label for="student2">Siga</label></td>
            <td class='left'>Mateusz</td>

            
        </tr>
       
        
        
    </table>
    </figure><br /><br />
    <a href="checkpoint-grade.html"     class="button orange">Make checkpoint</a>
</div>

{% endblock %}