{% extends "menu.html" %}
{% block content %}

    <h1>Statistic for student Patrycja Mikulska</h1>
    <figure class="table" id="table">
        <br /><br />
        <h2>Checkpoints</h2><br /><br />
    <table>
        <tr>
            <th>ID</th>
            <th>CHECKPOINT</th>
            <th>MENTOR 1</th>
            <th>MENTOR 2</th>
            <th>CREATED</th>
            <th>DATE</th>
            <th>GRADE</th>
        </tr>
        <tr>
            <td>1</td>
            <td class='left'>OOP</td>
            <td>Przemysław Ciąćka</td>
            <td>Rafał Stępień</td>
            <td>2017.01.01</td>
            <td>2017.03.01</td>
            <td>Green</td>
        </tr>
        <tr>
            <td>1</td>
            <td class='left'>SQL</td>
            <td>Przemysław Ciąćka</td>
            <td>Rafał Stępień</td>
            <td>2017.01.01</td>
            <td>2017.03.01</td>
            <td>Green</td>
        </tr>
    </table>
    </figure>
    <br /><br />
    <figure class="table" id="table">
    <table>
        <tr>
            <th>STATISTIC</th>
            <th>VALUE</th>
        </tr>
        <tr>
            <td class='left'>Atendance Absent</td>
            <td>1</td>
        </tr>
        <tr>
            <td class='left'>Atendance Late</td>
            <td>1</td>
        </tr>
        <tr>
            <td class='left'>Atendance Present</td>
            <td>1</td>
        </tr>
        <tr>
            <td class='left'>Atendance Overall</td>
            <td>100%</td>
        </tr>  
        <tr>
            <td class='left'>Avg grades</td>
            <td>70%</td>
        </tr>
        <tr>
            <td class='left'>No of checkpoints</td>
            <td>2</td>
        </tr>
    </table>
    </figure>
{% endblock %}