{% extends "menu.html" %}
{% block content %}

    <h1>Student Statistics</h1>

    <figure class="table" id="table">
        <br /><br />
        <h2>ATTANDANCE</h2><br /><br />
    <table>
        <tr>
            <th>NAME</th>
            <th>AVG ATTANDANCE</th>

        </tr>
         {% if attandance != None %}
        {% for att in attandance %}
         <tr>
            <td class="left">{{ att[0]}} {{ att[1]}}</td>
            <td>{% if att[2] != None %}{{ att[2] }}{% else %} None attandance for this student {% endif %}</td>
        </tr>
        {% endfor %}
    {% endif %}
    </table>
    </figure>
    <br /><br />
       <figure class="table" id="table">
        <br /><br />
        <h2>GRADES</h2><br /><br />
    <table>
        <tr>
            <th>NAME</th>            
            <th>AVG GRADE</th>
        </tr>
     {% if grades != None %}
        {% for grade in grades %}
         <tr>
            <td class="left">{{ grade[0] }}</td>
            <td>{{ grade[1] }}</td>
        </tr>
        {% endfor %}
    {% endif %}
    </table>
    </figure>
{% endblock %}