{% extends "menu.html" %}
<title>Submission</title>


{% block content %}
    <div id="top">
    <h2 class="assign_title">Nazwa asignmentu</h2>
    <a href="#popup"><div class="fixed_table_button gray_button orange_shadow"> Submit assignment </div></a>
    </div>
    <br>
    <hr>
    <section>
        <table class="assignment">
            <tr>
                <th>Termin dostarczenia</th>
                <td>Brak terminu dostarczenia</td>
            </tr>
            <tr>
                <th>Punkty</th>
                <td>24</td>
            </tr>
            <tr>
                <th>Przesyłanie</th>
                <td>adres URL witryny internetowej</td>
            </tr>
        </table>
    </section>
    <hr>
{#    {% html_for_assignment %}#}

    <div id="popup" class="overlay">
            <h2>Add submission</h2>
            <form class="edit_user" name="add_submission">
                <a class="close" href="#">&times;</a>
                <div class="form-block">
                    <label for="link">Link to assignment:</label>
                    <input type="text" name="link" id="link">
                </div>
                <div class="load_file">
                    <label for="file">Upload file with assignment:</label>
                    <input type="file" name="file" id="file">
                </div>
                <div class="form-block">
                    <label for="comment">Comment:</label>
                    <textarea maxlength="500" name ="comment" id="comment" rows="5" cols="55"
                              placeholder="Your comments about assignment, max 500"></textarea>
                </div>

                <input type="submit" value="Submit" id="submit" class="button orange">
            </form>
    </div>
{% endblock %}