{% extends "menu.html" %}

{% block head %}

    {{ super() }}
    <link href='http://fonts.googleapis.com/css?family=Anaheim&subset=latin-ext' rel='stylesheet' type='text/css'>

{% endblock %}
{% block content %}


    <table class="team_table">
        <tr>
            <th>ID: 1</th>
            <th>NAME: Dupa1</th>
            <th>Action</th>

        </tr>
        <tr>
            <td>1</td>
            <td>Person 1</td>
            <td><a href="" class="remove_button">REMOVE</a></td>

        </tr>
        <tr>
            <td>2</td>
            <td>Person 2</td>
            <td><a href="" class="remove_button">REMOVE</a></td>

        </tr>
        <tr>
            <td >3</td>
            <td>Person 3</td>
            <td><a href="" class="remove_button">REMOVE</a></td>

        </tr>
    </table>
    <a href="#add_student_to_team"><div class="fixed_table_button orange_shadow"> + Student </div></a>
    <a href=""><div class="fixed_table_button remove_team orange_shadow"> - Remove team </div></a>

    <table class="team_table">
        <tr>
            <th>ID: 2</th>
            <th>NAME: Dupa2</th>
            <th>Action</th>

        </tr>
        <tr>
            <td>1</td>
            <td>Person 1</td>
            <td><a href="" class="remove_button">REMOVE</a></td>

        </tr>
        <tr>
            <td>2</td>
            <td>Person 2</td>
            <td><a href="" class="remove_button">REMOVE</a></td>

        </tr>
        <tr>
            <td>3</td>
            <td>Person 3</td>
            <td><a href="" class="remove_button">REMOVE</a></td>

        </tr>

    </table>
    <a href="#add_student_to_team"><div class="fixed_table_button orange_shadow"> + Student </div></a>
    <a href=""><div class="fixed_table_button remove_team orange_shadow"> - Remove team </div></a>

    <table class="team_table">
        <tr>
            <th>ID: 3</th>
            <th>NAME: Dupa3</th>
            <th>Action</th>

        </tr>
        <tr>
            <td>1</td>
            <td>Person 1</td>
            <td><a href="" class="remove_button">REMOVE</a></td>

        </tr>
        <tr>
            <td>2</td>
            <td>Person 2</td>
            <td><a href="" class="remove_button">REMOVE</a></td>

        </tr>
        <tr>
            <td>3</td>
            <td>Person 3</td>
            <td><a href="" class="remove_button">REMOVE</a></td>

        </tr>

    </table>
    <a href="#add_student_to_team"><div class="fixed_table_button orange_shadow"> + Student </div></a>
    <a href=""><div class="fixed_table_button remove_team orange_shadow"> - Remove team </div></a>

    <table class="team_table">
        <tr>
            <th>ID: 4</th>
            <th>NAME: Dupa4</th>
            <th>Action</th>

        </tr>
        <tr>
            <td>1</td>
            <td>Person 1</td>
            <td><a href="" class="remove_button">REMOVE</a></td>

        </tr>
        <tr>
            <td>2</td>
            <td>Person 2</td>
            <td><a href="" class="remove_button">REMOVE</a></td>

        </tr>
        <tr>
            <td >3</td>
            <td>Person 3</td>
            <td><a href="" class="remove_button">REMOVE</a></td>

        </tr>
    </table>
    <a href="#add_student_to_team"><div class="fixed_table_button orange_shadow"> + Student </div></a>
    <a href=""><div class="fixed_table_button remove_team orange_shadow"> - Remove team </div></a>

    <a href="#add_team"><div class="fixed_bottom_button"> + TEAM </div></a>



    <div class="overlay" id="add_team">

        <form name="add_student" class="edit_user">
            <a class="close" href="#">&times;</a>
            <div class="form-block">
                <label for="new_team_name">Team name:</label>
                <input type="text" name="new_team_name" id="new_team_name">
            </div>
            <input type="submit" value="Submit" id="add_submit" class="add_submit button orange">
        </form>

    </div>

    <div class="overlay" id="add_student_to_team">
        <form name="add_student" class="edit_user">
            <a class="close" href="#">&times;</a>
            <div class="student_to_team_table">
            <table>
                <tr>
                    <th>Email</th>
                </tr>
                <tr>
                    <td><a href="">random@email.pl</a></td>
                </tr>
                <tr>
                    <td><a href="">random@email.pl</a></td>
                </tr>
                <tr>
                    <td><a href="">random@email.pl</a></td>
                </tr>
                <tr>
                    <td><a href="">random@email.pl</a></td>
                </tr>
                <tr>
                    <td><a href="">random@email.pl</a></td>
                </tr>
                <tr>
                    <td><a href="">random@email.pl</a></td>
                </tr>
                <tr>
                    <td><a href="">random@email.pl</a></td>
                </tr>
                <tr>
                    <td><a href="">random@email.pl</a></td>
                </tr>
                <tr>
                    <td><a href="">random@email.pl</a></td>
                </tr>
                <tr>
                    <td><a href="">random@email.pl</a></td>
                </tr>
                <tr>
                    <td><a href="">random@email.pl</a></td>
                </tr>
                <tr>
                    <td><a href="">random@email.pl</a></td>
                </tr>
                <tr>
                    <td><a href="">random@email.pl</a></td>
                </tr>
                <tr>
                    <td><a href="">random@email.pl</a></td>
                </tr>
                <tr>
                    <td><a href="">random@email.pl</a></td>
                </tr>
            </table>
            </div>
            <br>
            <br>
        </form>

    </div>

{% endblock %}
