<!DOCTYPE html>

<html>
<head>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style-login.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500i,700,900i" rel="stylesheet">
    
</head>
<body> 

  <section class="login">
      <div>
        <h1>
           CCMS <span style="display: inline; font-weight: 400">login</span>
        </h1>
        <span>Welcome! Please login</span>
        <form name="login" method="POST" action="\">
        <input type="text" id="user_login" name="user_login" placeholder="Username" autofocus/><br />
        <input type="password" id="user_pass" name="user_pass" placeholder="Password"  /><br />
        <input type="submit" id="login" class="button orange" value="Log in" />
        </form>

      </div>
  </section>

</body>
</html>
