body{
    font-family: Ubuntu, serif;
}

nav{
    text-align: center;
    float: left;
    width: 400px;
    height: 99vh;
    background-color: cornflowerblue;
    border: white dashed;
    display: inline;
}

footer {
    text-align: center;
    font-size: 0.8em;
    position: fixed;
    bottom: 0;
    width: 100%;
}
