.assign_title {
    float: left;
    color: #333333;
    font-size: 1.5em;
    margin: 10px;

}

#top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;


}
/*#top:after {
    content: '';
    display: block;
    clear: both;
    }*/

.description {
     margin-top: 30px;
     width: 90%;

}
.description article {
    width: 100%;
    margin: 30px 40px 10px 10px;
    font-weight: 100;
    line-height: 150%;
}

article h3 {
    font-weight: 700;
    font-size: 1.5em;
    margin: 20px 0;

}

