table {
    padding: 10px;
    text-align: center;
    box-shadow: 5px 5px 10px #8d8a8a;
    width: 100%;
}

th {
    background-color: lightgrey;
    padding: 20px 10px;
    font-weight: 700;
    font-size: 1.1em;
    
}

tr {
    border: 1px solid #eee;
    padding: 5px;
    
}

td {
    border-bottom: 5px inset lightgrey;
    padding: 20px 25px;
    margin: 2px;
}

.add_student{
    margin-bottom: 6px;
    font-family: 'Aladin', cursive;
    font-size: 1.3em;
    float: right;
    padding: 20px;
    text-align: center;
    -moz-border-radius: 0 0 50% 50%; /* Firefox */
    -webkit-border-radius: 0 0 50% 50%; /* Safari, Chrome */
    border-radius: 0 0 50% 50%; /* CSS3 */
    background-color: #f47a20;
    color: #eeeeee;
    box-shadow: 5px 5px 10px #8d8a8a;
}

.add_student:hover{
    box-shadow: 5px 5px 10px #00f;
}

#add_team{
    bottom: 0;
    left: 58%;
    font-family: 'Aladin', cursive;
    font-size: 1.3em;
    width: 100px;
    padding: 15px 20px;
    text-align: center;
    -moz-border-radius: 50% 50% 0 0; /* Firefox */
    -webkit-border-radius: 50% 50%  0 0; /* Safari, Chrome */
    border-radius: 50% 50% 0 0 ; /* CSS3 */
    background-color: #f00;
    color: #eeeeee;
    box-shadow: 5px 5px 10px #8d8a8a;
    position: fixed;
}

#add_team:hover{
    height: 80px;
}

.remove_team{
    background-color: #333333;
}

.remove_student{
    border: 2px red dotted;
    width: 70px;
    background-color: #f00;
    background-size: contain;
    margin: auto;
    -moz-border-radius: 5px; /* Firefox */
    -webkit-border-radius: 5px; /* Safari, Chrome */
    border-radius: 5px; /* CSS3 */
    padding: 5px;
}

.remove_student:hover{
    box-shadow: 0 0 50px #f00;
}

.remove_a{
    color: #fff;
    text-decoration: none;
}